<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams."
    />
    <meta name="author" content="Webpixels" />
    <title>
      AlgoQuest - Dashboard
    </title>
    <!-- Favicon -->
    <link rel="icon" href="../cstm-assets/logo.svg" type="image/png" />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="../libs/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- Page CSS -->
    <link
      type="text/css"
      href="../libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css"
      rel="stylesheet"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="../css/purpose.css" id="stylesheet" />
  </head>

  <body>
    <header class="header header-transparent" id="header-main">
      <!-- Main navbar -->
      <%- include('partials/navbar'); %>
    </header>
    <!-- Omnisearch -->
    <div id="omnisearch" class="omnisearch">
      <div class="container">
        <!-- Search form -->
        <form class="omnisearch-form">
          <div class="form-group">
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Type and hit enter ..."
              />
            </div>
          </div>
        </form>
        <div class="omnisearch-suggestions">
          <h6 class="heading">Search Suggestions</h6>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="list-link" href="account-profile-public.html#">
                    <i class="fas fa-search"></i>
                    <span>macbook pro</span> in Laptops
                  </a>
                </li>
                <li>
                  <a class="list-link" href="account-profile-public.html#">
                    <i class="fas fa-search"></i>
                    <span>iphone 8</span> in Smartphones
                  </a>
                </li>
                <li>
                  <a class="list-link" href="account-profile-public.html#">
                    <i class="fas fa-search"></i>
                    <span>macbook pro</span> in Laptops
                  </a>
                </li>
                <li>
                  <a class="list-link" href="account-profile-public.html#">
                    <i class="fas fa-search"></i>
                    <span>beats pro solo 3</span> in Headphones
                  </a>
                </li>
                <li>
                  <a class="list-link" href="account-profile-public.html#">
                    <i class="fas fa-search"></i>
                    <span>smasung galaxy 10</span> in Phones
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <!-- Header (account) -->
      <%- include('partials/header'); %>
      <section class="pt-5 pt-lg-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <!-- Profile Card -->
              <%- include('partials/profile'); %>
            </div>
            <div class="col-lg-8 mt-lg-5">
             
              

              <!-- Post -->
              <% for(let i=0; i<posts.length; i++) {%>
                
                <div class="card mt-4">
                  <div class="card-header pt-4 pb-2">
                    <div class="card overflow-hidden border-0">
                      <img alt="Image placeholder" loading="lazy" src="<%= posts[i].cover %>" class="card-img-top">
                      <span class="mask bg-info opacity-3"></span>
                      <span class="mask hover-mask bg-gradient-warning opacity-9"></span>
                      <div class="card-img-overlay d-flex flex-column">
                          <div class="my-auto text-center px-3 py-5">
                              
                              <a href="/post/<%=posts[i]._id%>" class="h3 text-white mb-0"><%= posts[i].title %></a>

                              <ul class="list-inline mb-3">
                                <% for(let j=0; j<posts[i].tags.length; j++) { %>
                                  <li class="list-inline-item">
                                    <a class="text-white"><%= posts[i].tags[j] %></a>
                                </li>
                                <% } %>
                               
                              </ul>
                              
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="card-body">
                    <p>
                      <%= posts[i].description %>
                    </p>
                    
                    <!-- <div class="row align-items-center my-3 pb-3 border-bottom">
                      <div class="col-sm-6">
                        <div class="icon-actions">
                          <a
                            href="account-profile-public.html#"
                            class="love active"
                          >
                            <i class="fas fa-heart"></i>
                            <span class="text-muted"><%= posts[i].upvotes %> likes</span>
                          </a>
                          <a href="account-profile-public.html#">
                            <i class="fas fa-comment"></i>
                            <span class="text-muted">20 comments</span>
                          </a>
                        </div>
                      </div>
                     
                    </div> -->
                   
                  </div>
                </div>
              <% } %>
              
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer-->
    <%- include('partials/footer'); %>
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="../js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="../libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="../libs/autosize/dist/autosize.min.js"></script>
    <!-- Purpose JS -->
    <script src="../js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="../js/demo.js"></script>
  </body>
</html>
